html{
	padding: 0;
	margin:0;
	width: 100%;
}

body{
	padding: 0;
	margin:0;
	width:100%;
	height:100%;
}



.header {
    background: url(../img/graffiti_inscriptions_art_letters_wall_118776_1400x1050.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    /*color: #fff;*/
    overflow: hidden;
    display: block;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
}

/*.header .overlay{
	padding-top: 100px;
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(11, 59, 86, 0.74);
}	*/

.nav {
    position: absolute;
    right: 0px;
    left: 40%;
    text-align: center;
    display: block;
    
}

@media (max-width: 991px){
	.nav {
		position: relative;
		right: 10%;
		left: 10%;
	    text-align: center;
	    display: block;
	    
	}
}

.nav ul{
	list-style: none;
}
.nav ul li a {
    list-style: none;
    display: inline-block;
    color: #fff;
    font-family: sans-serif;
    padding: 10px 37px;
    float: left;
    text-decoration: none;
    /* background-color: #e9cd8c66; */
    box-shadow: 0 0 19px black;
    color: #ffffff;
    /* font-size: 20px; */
    font-weight: bold;
    margin-top: 30px;
}
@media (max-width: 991px){
	.nav ul li a{
	    position: relative;
	    display: inline-block;
	    text-align: center;
	    left: 10%
	    right:10%;
	    float: left;
	    
	}
}


.nav .active a {
    background-color: #e9cd8c;
    border-radius: 0px;
    text-align: center;
}

.header i{
	display: block;
	width: 0em;
}
.header h1 {
    position: relative;
    font-family:monospace; 
    font-size: 123px;
    margin-top: 149px;
    margin-bottom: 29PX;
    text-align: center;
    display: block;
    text-shadow: 0 0 20px black;
}
.nav img{
	padding-top: -300px;
	text-align: center;
}

.header h1 span {
    color: #e9cd8c;
}

.header .download{
	margin-top: 0px;
	position: relative;
}

.header .download a{
	position: relative;
	list-style: none;
	text-decoration: none;
	background-color: #e02626;
    color: white;
    font-size: 30px;
    font-family: raleway;
    border-radius: 7px;
    padding: 8px 26px;
}


.img-responsive{
	max-width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}


/*start contact us*/
.contact-us{
  margin-top: 80px;
  padding: 80px 0;
  background-color: #fff;
}

.coentact-head{
  margin-top: 30px;
  margin-bottom: 106px;
}

.contact-us .contact-desc{
  color: #a9aaac;
  margin-bottom: 30px;
}

.contact-us .contact-btn{
  margin:30px auto;
  display: block;
  padding: 8px 20px;
  border: 2px solid #fff;
  background-color: #e9cd8c;
  color: #fff;
  border-radius: 0px;
  font-size: 18px;
  font-weight: bold;

}


.form-control{
  height: 66px;
  border:none;
  border-radius:0;
  box-shadow: none;
  border-bottom: 1px solid #f5f5f5;

}

textarea.form-control{
  height: 197px;
 

}


.footer{
  background-color: #000;
  color: #eee;
  padding: 20px;
  font-size: 20px;

}
.footer a{
  color: #fafdff;
}



@media(max-width:991px){
  .text-center-xs{
    text-align: center;
  }
}
